html {
    overflow: hidden;
}

body {
    height: 100%;
}

div.left-pane,
div.right-pane {
    display: block;
    background: white;
    height: 100vh;
}

div.right-pane {
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: auto;
}

div.left-pane {
    height: 100vh;
    max-height: 100vh;
}

div.left-pane-title {
    height: 30px;
    display: block;
    text-align: center;
}

div.left-pane-contents {
    height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

div.editor-decor-default {
    background-color: #fafafa;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    min-height: 100vh;
}

@media all and (min-width: 1px) {
    div.left-pane {
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

    div.right-pane {
        width: 100%;
    }
}

@media all and (min-width: 1024px) {
    div.left-pane {
        width: 300px;
        float: left;
    }

    div.right-pane {
        width: calc(100% - 300px);
        float: right;
    }
}
